:root {
    --grey-lightest: #f7f9fa;
    --white: #ffffff;
    --grey: #c8d1dc;
    --dark-grey: #6b7785;
    --dark-blue: #1f2d3d;
    --dark-blue-border: #2b3f56;
    --green: #72cc18;
    --red-dark: #BB0C0C;
    --font-family: GraphikRegular, 'Helvetica Neue', Sans-Serif;
}

#head_title {
    display: flex;
    background-color: var(--grey-lightest);
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    flex-direction: column;
}

   /* CSS */
.btn {
   padding: 0.6em 2em;
   border: none;
   outline: none;
   color: rgb(255, 255, 255);
   background: #111;
   cursor: pointer;
   position: relative;
   z-index: 0;
   border-radius: 10px;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
}

.btn:before {
    content: "";
    background: linear-gradient(
            45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.btn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

#container {
    display: none;
}